!!!
%html
  %head
    %title
      = @title || 'Toopaste!'
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css' }
  %body
    #wrapper.container_12
      %header.grid_12
        %h1 Oh ze pastebin
      #sidebar.grid_3
        %h2 Recent Snippets
        - if @snippets
          %ul
            - @snippets.each do |snippet|
              %li
                %a{ :href => snippet.id, :title => snippet.title }
                  = snippet.title
      #content.grid_9
        = yield
