!!!
%html
  %head
    %title
      = @title || 'Toopaste!'
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css' }
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' }
    :javascript
      jQuery(function(){
        $('#toggle-lines').click(function() {
          $('.line-numbers').toggle();
        });
      });
  %body
    #wrapper.container_12
      - if flash[:error]
        #error.grid_12
          = flash[:error]
      %header.grid_12
        %h1
          %a{ :href => '/' } geekpaste.heroku.com
      = yield
