.snippet
  %h2 Paste a new code snippet below:
  %form{ :action => '/', :method => 'POST' }
    %label{ :for => 'snippet_title' } Title:
    %input{ :type => 'text', :name => 'snippet_title' }
    %label{ :for => 'snippet_language' } Language:
    %select{ :name => 'snippet_language', :id => 'snippet_language' }
      - for language in @languages
        %option{ :value => language } #{language}
    %textarea{ :name => 'snippet_body', :id => 'snippet_body', :rows => 20, :cols => 40 }
    %input{ :type => 'submit', :value => 'Save' }
