.snippet
  %h2
    = "Snippet: #{h @snippet.title}"
  #content{ :class => 'sbody' }<
    %pre
      = preserve @snippet.body
  .sdate
    Created on #{@snippet.created_at.strftime("%D at %T %Z")}
  %a{ :href => '/' } Create new paste

