.snippet
  %h2
    = "Snippet: #{h @snippet.title}"
  #meta
    %a{ :href=> '#', :id => 'toggle-lines' }Toggle line numbers
  #content{ :class => 'sbody' }<
    = preserve @snippet.body
  .sdate
    Created on #{@snippet.created_at.strftime("%D at %T %Z")}
  %a{ :href => '/' } Create new paste

